body {
    font-family: 'Roboto';
}



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.header>img {
    height: 75px;
    width: auto;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.right-links {
    display: flex;
    gap: 16px;
}

.intro {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 500px;
    align-items: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 5px 16px;
    border-radius: 5px;
}

p {
    border: 1px dotted red;
}

.intro > img {
    height: 250px;
    width: auto;
}

.left-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px dotted red;
    
    width: 33%;
    height: 220px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.text {
    color: #E5E7EB;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    
    color:#1F2937;
}



.card> img {
    border: 2px solid #3882F6;
    border-radius: 5px;
    height: 300px;
    width: auto;
}

.card-text {
    text-align: center;
}

.card-title {
    text-align: center;
    vertical-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 18px;
}

.card-section {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 48px;
    background-color: #F9FAF8;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-style: italic;
    background-color: #E5E7EB;
    color: #1F2937;
    height: 200px;
}

.quote-author {
    font-weight: bold;
    font-size: 24px;
}